This notebook processes all the data in *datathon_2024_dataset_corrected.csv* into a dataset that relates the outcome of each game to the team's short-term travel history preceding the game.

In [157]:
import numpy as np
import pandas as pd
from geopy.distance import distance as geodist
from tqdm import tqdm
import itertools as itr

In [2]:
df = pd.read_csv('.data/datathon_2024_dataset_corrected.csv')
df["date"] = pd.to_datetime(df["game_date"], format='%Y%m%d')
df = df[['date', 'home_team', 'away_team', 'is_day_game', 'home_score', 'away_score', 'venue_name']]
print(df.head())

   Unnamed: 0  game_date home_team away_team  is_day_game  home_score  \
0           0   20000329       NYN       CHN        False           3
1           1   20000330       CHN       NYN        False           1
2           2   20000403       ATL       COL         True           2
3           3   20000403       CIN       MIL         True           3
4           4   20000403       FLO       SFN        False           6

   away_score  venue        venue_name        city  ... home_pa  home_1b  \
0           5  TOK01        Tokyo Dome       Tokyo  ...      38        5
1           5  TOK01        Tokyo Dome       Tokyo  ...      44        5
2           0  ATL02      Turner Field     Atlanta  ...      32        5
3           3  CIN08     Cinergy Field  Cincinnati  ...      20        3
4           4  MIA01  Sun Life Stadium       Miami  ...      38        9

   home_2b  home_3b  home_hr  home_fo  home_so  home_bb  home_hbp       date
0        1        0        1       24        4        3         0 2000-03-29
1        0        0        0       24        9        6         0 2000-03-30
2        0        0        2       17        6        1         1 2000-04-03
3        1        0        1       10        4        1         0 2000-04-03
4        3        0        0       17        7        1         1 2000-04-03

[5 rows x 30 columns]

In [129]:
venue_df = pd.read_csv('.data/venue.csv', index_col='venue_name')
print(venue_df.head())

                     lat     long
venue_name
Tokyo Dome        35.705  139.752
Turner Field      33.735  -84.389
Cinergy Field     39.548  -84.303
Sun Life Stadium  25.959  -80.240
Stade Olympique   45.558  -73.552

In [4]:
years = df['date'].dt.year.unique()
years.sort()
print(years)

[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

In [5]:
teams = df['home_team'].unique()
teams.sort()
print(teams)

['ANA' 'ARI' 'ATL' 'BAL' 'BOS' 'CHA' 'CHN' 'CIN' 'CLE' 'COL' 'DET' 'FLO'
 'HOU' 'KCA' 'LAN' 'MIA' 'MIL' 'MIN' 'MON' 'NYA' 'NYN' 'OAK' 'PHI' 'PIT'
 'SDN' 'SEA' 'SFN' 'SLN' 'TBA' 'TEX' 'TOR' 'WAS']

In [9]:
opening_day = {yr : df['date'][df['date'].dt.year == yr].min() for yr in years}

df['day'] = 0
for ind in tqdm(df.index):
    df.loc[ind, 'day'] = (df.loc[ind, 'date'] - opening_day[df.loc[ind, 'date'].year]).days

print(df.head())

100%|█| 56775/56775 [

        date home_team away_team  is_day_game  home_score  away_score  \
0 2000-03-29       NYN       CHN        False           3           5
1 2000-03-30       CHN       NYN        False           1           5
2 2000-04-03       ATL       COL         True           2           0
3 2000-04-03       CIN       MIL         True           3           3
4 2000-04-03       FLO       SFN        False           6           4

         venue_name  day
0        Tokyo Dome    0
1        Tokyo Dome    1
2      Turner Field    5
3     Cinergy Field    5
4  Sun Life Stadium    5

In [95]:
homes = pd.DataFrame(data="", index=years, columns=teams)
for ind in tqdm(df.index):
    home_team = df.loc[ind, 'home_team']
    yr = df.loc[ind, 'date'].year
    venue = df.loc[ind, 'venue_name']
    homes.loc[yr, home_team] = venue
print(homes)

100%|█| 56775/56775 [

                           ANA          ARI           ATL  \
2000  Angel Stadium of Anaheim  Chase Field  Turner Field
2001  Angel Stadium of Anaheim  Chase Field  Turner Field
2002  Angel Stadium of Anaheim  Chase Field  Turner Field
2003  Angel Stadium of Anaheim  Chase Field  Turner Field
2004  Angel Stadium of Anaheim  Chase Field  Turner Field
2005  Angel Stadium of Anaheim  Chase Field  Turner Field
2006  Angel Stadium of Anaheim  Chase Field  Turner Field
2007  Angel Stadium of Anaheim  Chase Field  Turner Field
2008  Angel Stadium of Anaheim  Chase Field  Turner Field
2009  Angel Stadium of Anaheim  Chase Field  Turner Field
2010  Angel Stadium of Anaheim  Chase Field  Turner Field
2011  Angel Stadium of Anaheim  Chase Field  Turner Field
2012  Angel Stadium of Anaheim  Chase Field  Turner Field
2013  Angel Stadium of Anaheim  Chase Field  Turner Field
2014  Angel Stadium of Anaheim  Chase Field  Turner Field
2015  Angel Stadium of Anaheim  Chase Field  Turner Field
2016  Angel Stadium of Anaheim  Chase Field  Turner Field
2017  Angel Stadium of Anaheim  Chase Field   Truist Park
2018  Angel Stadium of Anaheim  Chase Field   Truist Park
2019  Angel Stadium of Anaheim  Chase Field   Truist Park
2020  Angel Stadium of Anaheim  Chase Field   Truist Park
2021  Angel Stadium of Anaheim  Chase Field   Truist Park
2022  Angel Stadium of Anaheim  Chase Field   Truist Park
2023  Angel Stadium of Anaheim  Chase Field   Truist Park

                              BAL          BOS  \
2000  Oriole Park at Camden Yards  Fenway Park
2001  Oriole Park at Camden Yards  Fenway Park
2002  Oriole Park at Camden Yards  Fenway Park
2003  Oriole Park at Camden Yards  Fenway Park
2004  Oriole Park at Camden Yards  Fenway Park
2005  Oriole Park at Camden Yards  Fenway Park
2006  Oriole Park at Camden Yards  Fenway Park
2007  Oriole Park at Camden Yards  Fenway Park
2008  Oriole Park at Camden Yards  Fenway Park
2009  Oriole Park at Camden Yards  Fenway Park
2010  Oriole Park at Camden Yards  Fenway Park
2011  Oriole Park at Camden Yards  Fenway Park
2012  Oriole Park at Camden Yards  Fenway Park
2013  Oriole Park at Camden Yards  Fenway Park
2014  Oriole Park at Camden Yards  Fenway Park
2015  Oriole Park at Camden Yards  Fenway Park
2016  Oriole Park at Camden Yards  Fenway Park
2017  Oriole Park at Camden Yards  Fenway Park
2018  Oriole Park at Camden Yards  Fenway Park
2019  Oriole Park at Camden Yards  Fenway Park
2020  Oriole Park at Camden Yards  Fenway Park
2021  Oriole Park at Camden Yards  Fenway Park
2022  Oriole Park at Camden Yards  Fenway Park
2023  Oriole Park at Camden Yards  Fenway Park

                                            CHA            CHN  \
2000  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2001  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2002  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2003  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2004  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2005  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2006  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2007  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2008  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2009  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2010  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2011  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2012  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2013  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2014  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2015  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2016  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2017  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2018  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2019  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2020  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2021  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2022  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field
2023  Guaranteed Rate Field;U.S. Cellular Field  Wrigley Field

                          CIN                CLE          COL  ...  \
2000            Cinergy Field  Progressive Field  Coors Field  ...
2001            Cinergy Field  Progressive Field  Coors Field  ...
2002            Cinergy Field  Progressive Field  Coors Field  ...
2003  Great American Ballpark  Progressive Field  Coors Field  ...
2004  Great American Ballpark  Progressive Field  Coors Field  ...
2005  Great American Ballpark  Progressive Field  Coors Field  ...
2006  Great American Ballpark  Progressive Field  Coors Field  ...
2007  Great American Ballpark  Progressive Field  Coors Field  ...
2008  Great American Ballpark  Progressive Field  Coors Field  ...
2009  Great American Ballpark  Progressive Field  Coors Field  ...
2010  Great American Ballpark  Progressive Field  Coors Field  ...
2011  Great American Ballpark  Progressive Field  Coors Field  ...
2012  Great American Ballpark  Progressive Field  Coors Field  ...
2013  Great American Ballpark  Progressive Field  Coors Field  ...
2014  Great American Ballpark  Progressive Field  Coors Field  ...
2015  Great American Ballpark  Progressive Field  Coors Field  ...
2016  Great American Ballpark  Progressive Field  Coors Field  ...
2017  Great American Ballpark  Progressive Field  Coors Field  ...
2018  Great American Ballpark  Progressive Field  Coors Field  ...
2019  Great American Ballpark  Progressive Field  Coors Field  ...
2020  Great American Ballpark  Progressive Field  Coors Field  ...
2021  Great American Ballpark  Progressive Field  Coors Field  ...
2022  Great American Ballpark  Progressive Field  Coors Field  ...
2023  Great American Ballpark  Progressive Field  Coors Field  ...

                     PHI                   PIT               SDN  \
2000    Veterans Stadium  Three Rivers Stadium  Qualcomm Stadium
2001    Veterans Stadium              PNC Park  Qualcomm Stadium
2002    Veterans Stadium              PNC Park  Qualcomm Stadium
2003    Veterans Stadium              PNC Park  Qualcomm Stadium
2004  Citizens Bank Park              PNC Park        Petco Park
2005  Citizens Bank Park              PNC Park        Petco Park
2006  Citizens Bank Park              PNC Park        Petco Park
2007  Citizens Bank Park              PNC Park        Petco Park
2008  Citizens Bank Park              PNC Park        Petco Park
2009  Citizens Bank Park              PNC Park        Petco Park
2010  Citizens Bank Park              PNC Park        Petco Park
2011  Citizens Bank Park              PNC Park        Petco Park
2012  Citizens Bank Park              PNC Park        Petco Park
2013  Citizens Bank Park              PNC Park        Petco Park
2014  Citizens Bank Park              PNC Park        Petco Park
2015  Citizens Bank Park              PNC Park        Petco Park
2016  Citizens Bank Park              PNC Park        Petco Park
2017  Citizens Bank Park              PNC Park        Petco Park
2018  Citizens Bank Park              PNC Park        Petco Park
2019  Citizens Bank Park              PNC Park        Petco Park
2020  Citizens Bank Park              PNC Park        Petco Park
2021  Citizens Bank Park              PNC Park        Petco Park
2022  Citizens Bank Park              PNC Park        Petco Park
2023  Citizens Bank Park              PNC Park        Petco Park

               SEA          SFN                SLN              TBA  \
2000  Safeco Field  Oracle Park   Busch Stadium II  Tropicana Field
2001  Safeco Field  Oracle Park   Busch Stadium II  Tropicana Field
2002  Safeco Field  Oracle Park   Busch Stadium II  Tropicana Field
2003  Safeco Field  Oracle Park   Busch Stadium II  Tropicana Field
2004  Safeco Field  Oracle Park   Busch Stadium II  Tropicana Field
2005  Safeco Field  Oracle Park   Busch Stadium II  Tropicana Field
2006  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2007  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2008  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2009  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2010  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2011  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2012  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2013  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2014  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2015  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2016  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2017  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2018  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2019  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2020  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2021  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2022  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field
2023  Safeco Field  Oracle Park  Busch Stadium III  Tropicana Field

                                TEX            TOR                        WAS
2000  Rangers Ballpark in Arlington  Rogers Centre
2001  Rangers Ballpark in Arlington  Rogers Centre
2002  Rangers Ballpark in Arlington  Rogers Centre
2003  Rangers Ballpark in Arlington  Rogers Centre
2004  Rangers Ballpark in Arlington  Rogers Centre
2005  Rangers Ballpark in Arlington  Rogers Centre  Robert F. Kennedy Stadium
2006  Rangers Ballpark in Arlington  Rogers Centre  Robert F. Kennedy Stadium
2007  Rangers Ballpark in Arlington  Rogers Centre  Robert F. Kennedy Stadium
2008  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2009  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2010  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2011  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2012  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2013  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2014  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2015  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2016  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2017  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2018  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2019  Rangers Ballpark in Arlington  Rogers Centre             Nationals Park
2020  Globe Life Field in Arlington   Sahlen Field             Nationals Park
2021  Globe Life Field in Arlington  Rogers Centre             Nationals Park
2022  Globe Life Field in Arlington  Rogers Centre             Nationals Park
2023  Globe Life Field in Arlington  Rogers Centre             Nationals Park

[24 rows x 32 columns]

In [115]:
days = list(np.arange(0, df['day'].max()+1, 1))
print(days)

extended_days = [-1] + list(days) + [days[-1]+1]
print(extended_days)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193]
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194]

In [183]:
location = {team:
                {year:
                    {day:
                         {'home': 0,
                          'away': 0,
                          'travel': 0,
                          'miles': 0,
                          'venue': None,
                          'won': 0,
                          'odds': -1}
                     for day in extended_days
                    }
                for year in years
                }
            for team in teams
            }

for team in teams:
    for yr in years:
        home_venue = homes.loc[yr, team]
        if home_venue is None:
            print(team, yr)
            del location[team][yr]
        else:
            location[team][yr][-1]['venue'] = home_venue
            location[team][yr][days[-1]+1]['venue'] = home_venue

In [184]:
for ind in tqdm(df.index):
    home_team = df.loc[ind, 'home_team']
    away_team = df.loc[ind, 'away_team']
    home_score = df.loc[ind, 'home_score']
    away_score = df.loc[ind, 'away_score']
    yr = df.loc[ind, 'date'].year
    day = df.loc[ind, 'day']
    venue = df.loc[ind, 'venue_name']
    location[home_team][yr][day]['home'] = 1
    location[away_team][yr][day]['away'] = 1    
    location[home_team][yr][day]['venue'] = venue
    location[away_team][yr][day]['venue'] = venue
    if home_score == away_score:
        location[home_team][yr][day]['won'] = 0.5
        location[away_team][yr][day]['won'] = 0.5
    elif home_score > away_score:
        location[home_team][yr][day]['won'] = 1
    else:
        location[away_team][yr][day]['won'] = 1

100%|█| 56775/56775 [

In [185]:
for team in teams:
    for yr in years:
        for day in reversed(days):
            if location[team][yr][day]['venue'] is None:
                location[team][yr][day]['venue'] = location[team][yr][day+1]['venue']
        for day in extended_days[1:]:
            yesterday_venue = location[team][yr][day-1]['venue']
            today_venue = location[team][yr][day]['venue']
            if yesterday_venue != today_venue:
                location[team][yr][day]['travel'] = 1
                location[team][yr][day]['miles'] = geodist(venue_df.loc[yesterday_venue].tolist(), venue_df.loc[today_venue].tolist()).miles
        if sum([location[team][yr][dummy_day]['won'] for dummy_day in days]) == 0:
            del location[team][yr]

In [221]:
MAX_DELAY = 14

var_names = ['win', 'baseline_odds'] + [f'{var}{delay}' for var, delay in itr.product(['home', 'away', 'travel', 'miles'], range(MAX_DELAY))]

ind_names = []
for team in teams:
    for yr in location[team].keys():
        for day in days:
            ind_names.append(f'{team}{yr}{day}')

In [222]:
ml_dict = {ind: {} for ind in ind_names}
for team in tqdm(teams):
    for yr in location[team].keys():
        for day in days:
            ind = f'{team}{yr}{day}'
            ml_dict[ind]['won'] = location[team][yr][day]['won']
            ml_dict[ind]['baseline_odds'] = location[team][yr][day]['odds']
            for delay_day in range(day, min(day + MAX_DELAY, days[-1]+1)):
                delay_ind = f'{team}{yr}{delay_day}'
                for var in ['home', 'away', 'travel', 'miles']:
                    var_name = f'{var}{delay_day-day}'
                    ml_dict[delay_ind][var_name] = location[team][yr][day][var]
ml_df = pd.DataFrame(ml_dict).transpose()
ml_df = ml_df[ml_df['won'].notna()].dropna()
print(ml_df.iloc[:20, ])
print(ml_df.shape)

100%|█| 32/32 [00:04<

           won  baseline_odds  home0  away0  travel0       miles0  home1  \
ANA200013  1.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200014  0.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200015  0.0           -1.0    0.0    0.0      1.0  1734.576143    1.0
ANA200016  0.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200017  1.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200018  1.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200019  0.0           -1.0    0.0    1.0      1.0   441.403955    0.0
ANA200020  1.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200021  0.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200022  0.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200023  1.0           -1.0    0.0    1.0      1.0  1093.319254    0.0
ANA200024  0.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200025  0.0           -1.0    0.0    1.0      0.0     0.000000    0.0
ANA200026  1.0           -1.0    1.0    0.0      1.0  2125.402319    0.0
ANA200027  0.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200028  1.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200029  0.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200030  0.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200031  1.0           -1.0    1.0    0.0      0.0     0.000000    1.0
ANA200032  1.0           -1.0    1.0    0.0      0.0     0.000000    1.0

           away1  travel1       miles1  ...  travel11      miles11  home12  \
ANA200013    0.0      0.0     0.000000  ...       0.0     0.000000     0.0
ANA200014    0.0      0.0     0.000000  ...       0.0     0.000000     0.0
ANA200015    0.0      0.0     0.000000  ...       0.0     0.000000     0.0
ANA200016    0.0      1.0  1734.576143  ...       0.0     0.000000     0.0
ANA200017    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200018    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200019    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200020    1.0      1.0   441.403955  ...       0.0     0.000000     0.0
ANA200021    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200022    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200023    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200024    1.0      1.0  1093.319254  ...       0.0     0.000000     1.0
ANA200025    1.0      0.0     0.000000  ...       0.0     0.000000     1.0
ANA200026    1.0      0.0     0.000000  ...       1.0  1734.576143     1.0
ANA200027    0.0      1.0  2125.402319  ...       0.0     0.000000     0.0
ANA200028    0.0      0.0     0.000000  ...       0.0     0.000000     0.0
ANA200029    0.0      0.0     0.000000  ...       0.0     0.000000     0.0
ANA200030    0.0      0.0     0.000000  ...       1.0   441.403955     0.0
ANA200031    0.0      0.0     0.000000  ...       0.0     0.000000     0.0
ANA200032    0.0      0.0     0.000000  ...       0.0     0.000000     0.0

           away12  travel12      miles12  home13  away13  travel13  \
ANA200013     0.0       0.0     0.000000     0.0     0.0       0.0
ANA200014     0.0       0.0     0.000000     0.0     0.0       0.0
ANA200015     0.0       0.0     0.000000     0.0     0.0       0.0
ANA200016     0.0       0.0     0.000000     0.0     0.0       0.0
ANA200017     0.0       0.0     0.000000     0.0     0.0       0.0
ANA200018     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200019     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200020     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200021     0.0       0.0     0.000000     0.0     0.0       0.0
ANA200022     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200023     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200024     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200025     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200026     0.0       0.0     0.000000     1.0     0.0       0.0
ANA200027     0.0       1.0  1734.576143     1.0     0.0       0.0
ANA200028     1.0       0.0     0.000000     0.0     0.0       1.0
ANA200029     1.0       0.0     0.000000     0.0     1.0       0.0
ANA200030     1.0       0.0     0.000000     0.0     1.0       0.0
ANA200031     1.0       1.0   441.403955     0.0     1.0       0.0
ANA200032     1.0       0.0     0.000000     0.0     1.0       1.0

               miles13
ANA200013     0.000000
ANA200014     0.000000
ANA200015     0.000000
ANA200016     0.000000
ANA200017     0.000000
ANA200018     0.000000
ANA200019     0.000000
ANA200020     0.000000
ANA200021     0.000000
ANA200022     0.000000
ANA200023     0.000000
ANA200024     0.000000
ANA200025     0.000000
ANA200026     0.000000
ANA200027     0.000000
ANA200028  1734.576143
ANA200029     0.000000
ANA200030     0.000000
ANA200031     0.000000
ANA200032   441.403955

[20 rows x 58 columns]
(130320, 58)

In [223]:
ml_df.to_csv('.data/logregression_data.csv')